body, input, button, select {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

code, textarea {
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    line-height: 1.5;
}

code {
    background-color: #eee;
    padding: 1px 8px;
    border-radius: 4px;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    background-color: #fff;
    color: #111;
}

p {
    margin: 4px 0;
}

a {
    color: #16c;
}

textarea {
    resize: none;
    padding: 8px;
    border: 1px solid #111;
}

textarea:disabled {
    background-color: #eee;
    color: #333;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.flex {
    flex: 1;
}

.header {
    display: flex;
}

.header > h1 {
    margin: 0 0 0 16px;
    font-size: 32px;
}

.header-link {
    margin-right: 16px;
    line-height: 48px;
}

.toolbar {
    border: 1px solid #111;
}

.button-seperation {
    margin-right: 16px;
}

.right-checkbox {
    float: right;
    line-height: 36px;
    margin-right: 16px;
}

.editors {
    display: flex;
    flex: 1;
}

.right-column {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.processor-state {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.processor-vars {
    padding: 0 4px;
    border: 1px solid #111;
}

.dark {
    background-color: #111;
    color: #fff;
}

.dark a {
    color: #49f;
}

.dark code {
    background-color: #333;
}

.dark textarea {
    background-color: #111;
    border-color: #444;
    color: #fff;
}
.dark textarea:disabled {
    background-color: #222;
    color: #fff;
}

.dark .toolbar, .dark .processor-vars {
    border-color: #444;
}
