body, input, button, select {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

code, textarea, .memory_label {
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    line-height: 1.5;
}

code {
    background-color: #eee;
    padding: 1px 8px;
    border-radius: 4px;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    background-color: #fff;
    color: #111;
}

p {
    margin: 4px 0;
}

a {
    color: #16c;
}

textarea, .memory_label {
    resize: none;
    margin: 0;
    padding: 8px;
    border: 1px solid #222;
}

textarea:disabled, .memory_label {
    background-color: #eee;
    color: #333;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.flex {
    flex: 1;
}

.header, .canvas-container {
    display: flex;
}

.header > h1 {
    margin: 0 0 0 16px;
    font-size: 32px;
}

.header-link {
    margin-right: 16px;
    line-height: 48px;
}

.toolbar, #canvas {
    border: 1px solid #222;
}

.button-seperation {
    margin-right: 16px;
}

.right-checkbox {
    float: right;
    line-height: 36px;
    margin-right: 16px;
}

.editors {
    display: flex;
    flex: 1;
}

.right-column {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.processor-state {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.processor-vars {
    padding: 0 4px;
    border: 1px solid #222;
}

.prevent-scrolling {
    white-space: pre;
    overflow: hidden;
}

.memory_label {
    flex-grow: 1;
    flex-basis: 0;
    white-space: pre;
    overflow-y: auto;
    padding: 0;
}

.memory-label-container {
    margin: 8px;
}

.ip {
    color: #00f;
    background-color: #aaf;
}

.sp {
    color: #f00;
    background-color: #faa;
}

.tag {
    border-radius: 3px;
}

.dark {
    background-color: #111;
    color: #fff;
}

.dark a {
    color: #49f;
}

.dark .ip {
    color: #eef;
    background-color: #00d;
}

.dark .sp {
    color: #fee;
    background-color: #d00;
}

.dark code {
    background-color: #333;
}

.dark textarea, .dark .memory_label {
    background-color: #111;
    border-color: #444;
    color: #fff;
}
.dark textarea:disabled, .dark .memory_label {
    background-color: #222;
    color: #fff;
}

.dark #output_label {
    color: #0f0;
}

.dark .toolbar, .dark #canvas, .dark .processor-vars {
    border-color: #444;
}
